svg,
.day-box {
  width: calc((100vw - 42px)/7) !important;
}

.day-box {
  height: calc((100vw - 42px)/7) !important;
  border: 1px solid #fff;
}

@media only screen and (max-width: 767px) {
  svg,
  .day-box {
    width: calc((100vw - 42px)/3) !important;
  }

  .day-box {
    height: calc((100vw - 42px)/3) !important;
  }
}
